.justify-content-end{
    float: right;
    color: gray;
 
}

.card{
    background: teal;
    color: white
}

body {
    background-image: url(images/white-waves.png);

}

.container {
    background: white;
}

